body {
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffcc00;
    background-color: #fff;
    width: 500px;
    height: 500px;
    position:sticky;
}

canvas {
    display: block;
    background-color: #e8f5e9;
    
}
.return {
    display: flex;
    justify-content: flex-start;
}
a {
    text-decoration: none;  /* Fjerner understrekingen */
    color: black;           
}

a:hover {
    color: darkgray;        /* Endrer farge på lenken når du holder musepekeren over den */
}
.gameOverMessage {
    display: none; 
    text-align: center; 
    font-size: 24px;
}
.popupMessage {
    background-color: #4CAF50; 
        color: white; 
        border: none; 
        padding: 10px 20px; 
        font-size: 18px; 
        cursor: pointer; 
        border-radius: 5px;
}
.popup {
    display: none; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9); 
    border: 2px solid #ccc; 
    padding: 20px; 
    text-align: center; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 10px;
    z-index: 10;
}
.overlay {
    display: none; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 9;}
   
    button {
        padding: 12px 24px;
        font-size: 18px;
        cursor: pointer;
        background-color: #e27426;
        color: white;
        border: none;
        border-radius: 8px;
        margin-top: 20px;
        transition: background-color 0.3s;
    }

    button:hover {
        background-color: #873d0f;
    }
   
    