<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/doke.css">
</head>
<body>
    <h2>Doke game</h2>
    <div class="body"><div class="return"><a href="/home"><button>Tilbake til menyen</a></button></div>
    <div class="game-container">
        <canvas id="gameCanvas"></canvas>
    </div> 
    <div id="overlay" >
<div id="popup">
    <p id="highscoreDisplay"></p>
    <p id="popupMessage" style="font-size: 24px; margin: 0;">Game Over!</p>
    <p>Score:  <div id="popupScore">0</div></p>
    <button id="restartButton">
        Restart
    </button></div>
</div></div>


 <script src="../static/doke.js"></script>
</body>
</html>