
<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spillmeny</title>
    <link rel="stylesheet" href="../static/menu.css">
</head>
<body>
    <header>
        <div class="logo">SpillSide</div>
        <nav>
            <ul>
                    
                
            </ul>
        </nav>
        <div class="search-bar">
            <input type="text" placeholder="Søk etter spill...">
            <button>Søk</button>
        </div>
    </header>

    <main>
        <aside>
            <h3>Populære spill</h3>
            <ul>
                <li><a href="/doke">Doke</a></li>
                <li><a href="/pizzaclicker">Pizza Clicker</a></li>
                <li><a href="#">?</a></li>
            </ul>
        </aside>
        <section class="gallery">
            <div class="game"> <a href="/doke">
                <img src="../static/img/dogim/Doke_intro.png" alt="Doke a snake likegame">
                <h4>Doke</h4>
                <p>Our own Snake like game</p></a>
            </div>
            <div class="game"><a href="/pizzaclicker">
                <img src="../static/img/pizzaim/pizza_image.png" alt="a clicker game ">
                <h4>Pizza Clicker</h4>
                <p>Our own Clicker game inspired from Cookie clicker</p></a>
            </div>
            <div class="game">
                <img src="game3.jpg" alt="Game 3">
                <h4>?</h4>
                <p>Kort beskrivelse...</p>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 SpillSide. Alle rettigheter reservert.</p>
    </footer>

</body>
</html>