body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffcc00;
    background-color: #fff;
    width: 550px;
    height: 550px;
    position: relative;
}

canvas {
    display: block;
    background-color: #e8f5e9;
    
}
.return {
    display: flex;
    justify-content: flex-start;
}
a {
    text-decoration: none;  /* Fjerner understrekingen */
    color: black;           
}

a:hover {
    color: darkgray;        /* Endrer farge på lenken når du holder musepekeren over den */
}
